pyautogui==0.9.54
pytesseract==0.3.10
opencv-python==4.8.1.78
pynput==1.7.6
fuzzywuzzy==0.18.0
numpy==1.26.4
pandas
# python-Levenshtein==0.25.0; platform_system != "Emscripten"
sv_ttk==2.5.3
playsound==1.2.2